<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=7.0.5" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="./webix/codebase/webix.css" type="text/css" charset="utf-8">
    <script src="./webix/codebase/webix.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="./webix/pivot/codebase/pivot.css" type="text/css" charset="utf-8">
    <script src="./webix/pivot/codebase/pivot.js" type="text/javascript" charset="utf-8"></script>
    <script src="pivot.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    
</body>

</html>